// ## Primary

// - Linear gradient (active input border): 
$linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
// - Red (input errors): hsl(0, 100%, 66%)
$red: hsl(0, 100%, 66%);

// ### Neutral

$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);

// ## Typography

// ### Body Copy

$Font-size: 18px;

// ### Font

$fontFamily: 'Space Grotesk', sans-serif;
$fontWeights: 500;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFamily;
}

main{
    min-width: 100vw;
    min-height: 100vh;
}

.main-section{
    display: grid;
    grid-template-columns: 2fr 5fr;
    min-width: 100vw;
    min-height: 100vh;
}
.left-section{
    position: relative;
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    .card-img{
        top: 15%;
        position: absolute;

        .img-1{
            left: 30%;
            position: relative;
            width:22em;
            min-height: 13em;
            margin-bottom: 30px;
            border-radius: 10px;
            background-image: url("../images/bg-card-front.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .img-1-card-logo img{
                margin: 20px 0 0 25px;
                width: 75px;
            }
            .card-details{
                color: white;
                margin: 0 20px 20px 20px;
               
                #card-number{
                    letter-spacing: 3px;
                    font-size: 25px;
                    
                }
            }
            .name-and-date{
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                // margin: 0 20px;
            }
        }
        .img-2{
            left: 50%;
            position: relative;
            width:22em;
            min-height: 13em;
            border-radius: 10px;
            background-image: url("../images/bg-card-back.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            #cvc{
                margin-right: 15px;
                color: white;
                letter-spacing: 2px;
            }
        }
        
        
    }
}
.right-section{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    // flex-direction: column;
    // align-items: center;
    margin-top: 20%;

   
    label{
        font-size: 13px;
        margin-bottom: 10px;
    }
    input{
        width: 100%;
        padding: 10px 0;
        border-radius: 5px;
        border: 2px solid $Light-grayish-violet;
    }
    p{
        margin-bottom: 5px;
        visibility: hidden;
    }
    input[placeholder]{
        color: $Dark-grayish-violet;
        padding-left: 10px;
        font-size: 13px;
    }
    .input-data-cvc{
        display: grid;
        grid-template-columns: auto 1fr;
        label{
            margin-bottom: 10px;
        }
        .mmyy{
            margin-right: 40px;
            input{
                max-width: 55px;
                margin-right: 10px;
                margin-bottom: 0px;
            }
        }
    }
    .error{
        color: $red;
        font-size: 13px;
        padding: 2px 4px;
    }
    #button{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: $Very-dark-violet;
        color: $White;
        margin-top: 20px;
        &:hover{
            cursor: pointer;
        }
    }
}


#sucessful{
    display: none;
    flex-direction: column;
    align-items: center;
    div{
        padding: 0;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    h1{
        font-family: $fontFamily;
        letter-spacing: 2px;
    }
    p{
        visibility: visible;
        color: black;
        font-size: 15px;
        text-transform: none;
        color: $Dark-grayish-violet;
    }
}

.attribution{
    margin-top: 10px;
    a:hover{
        font-weight: 900;
    }
}